@import "tailwindcss";

:root {
  --font-ui: Tahoma, Helvetica, Arial, system-ui, sans-serif;
  --font-title: "Cinzel", serif;

  --color-bg: #0b1020;
  --color-text: #ffffff;
  --color-muted: #9ca3af;
  --color-gold: #facc15;
}
